@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  background: url(../assets/star_background.jpg) top center;
  font-family: 'Fjalla One', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
